.logo{
    width: 121px;
}

.header{
    background-color: #2a186e!important;
}

.btn_login{
    margin-top: 2%;
    margin-left:10px;
}

.yellow{
    background-color: #f9a839;
}

.green{
    background-color: #009743;
}